@use "../../styles/color" as color;
@use "../../styles/text" as text;

.common {
  width: fit-content;
  height: fit-content;
  border: 0;
  border-radius: 8px;
}

.button-small {
  font-size: text.$text-t3;
  font-weight: 600;

  padding: 6px 16px;
}

.button-medium {
  font-size: text.$text-t2;
  font-weight: 600;

  padding: 8px 16px;
}

.button-massive {
  font-size: text.$text-t1;
  font-weight: 700;

  padding: 12px 24px;
}

.color-primary {
  color: map-get(color.$color-common, white);
  background-color: map-get(color.$color-primary, main);

  &:hover {
    background-color: darken(map-get(color.$color-primary, main), 10%);
  }
  &:active {
    background-color: darken(map-get(color.$color-primary, main), 20%);
  }
}

.color-error {
  color: map-get(color.$color-common, white);
  background-color: map-get(color.$color-error, main);

  &:hover {
    background-color: darken(map-get(color.$color-error, main), 10%);
  }
  &:active {
    background-color: darken(map-get(color.$color-error, main), 20%);
  }
}
