@use "../../styles/color" as color;
@use "../../styles/text" as text;
@use "../../styles/mixins";

.button-small {
  @include mixins.button-common-styles;
}

.button-medium {
  @include mixins.button-common-styles;
}

.button-massive {
  @include mixins.button-common-styles;
}

.color-primary {
  background-color: map-get(color.$theme-header, button-menu-background);

  &:hover {
    background-color: darken(
      map-get(color.$theme-header, button-menu-background),
      10%
    );
  }
  &:active {
    background-color: darken(
      map-get(color.$theme-header, button-menu-background),
      20%
    );
  }
}

.color-error {
  background-color: map-get(color.$theme-header, button-menu-background);
  &:hover {
    background-color: darken(
      map-get(color.$theme-header, button-menu-background),
      10%
    );
  }
  &:active {
    background-color: darken(
      map-get(color.$theme-header, button-menu-background),
      20%
    );
  }
}
//
//.button-menu {
//  @include mixins.button-common-styles;
//  background-color: map-get(color.$theme-header, button-menu-background);
//
//  &:hover {
//    background-color: darken(
//      map-get(color.$theme-header, button-menu-background),
//      10%
//    );
//  }
//  &:active {
//    background-color: darken(
//      map-get(color.$theme-header, button-menu-background),
//      20%
//    );
//  }
//}
//
//.button-search {
//  @include mixins.button-common-styles;
//  background-color: map-get(color.$theme-header, button-search-background);
//
//  &:hover {
//    background-color: darken(
//      map-get(color.$theme-header, button-search-background),
//      8%
//    );
//  }
//  &:active {
//    background-color: darken(
//      map-get(color.$theme-header, button-search-background),
//      16%
//    );
//  }
//}
