@use "styles/color.module" as color;

.Main-list-layout {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 8px;
  background-color: map-get(color.$background, background-primary);
}
