$theme-header: (
  background: #1f2949,
  button1: #7dbffb,
  button1-color: #fff,
  button2-background: #f19a81,
);

$theme-list: (
  background-primary: #e3f2fd,
  background-secondary: #6e7c99,
  border: #98a6c0,
  warning: #ed5877,
);
