@use "./color" as color;
@use "./text" as text;

@mixin button-common-styles {
  border: 0;
  text-align: center;
  color: map-get(color.$theme-header, button-menu-color);

  font-size: text.$button-small-size;
  font-weight: text.$button-small-weight;
  line-height: text.$button-small-line-height;

  width: fit-content;
  padding: text.$button-small-padding;
  border-radius: 8px;
}
