$text-big-size: 32px;
$text-big-weight: 700;

$text-medium-size: 24px;
$text-medium-weight: 600;

$text-small-size: 18px;
$text-small-weight: 500;

$text-plain-size: 16px;

// * Button
$button-big-size: 20px;
$button-big-weight: 700;
$button-big-line-height: 26px;
$button-big-padding: 12px 20px;

$button-medium-size: 16px;
$button-medium-weight: 600;
$button-medium-line-height: 22px;
$button-medium-padding: 7px 16px;

$button-small-size: 14px;
$button-small-weight: 600;
$button-small-line-height: 18px;
$button-small-padding: 6px 16px;
